* {
    margin: 0;
    padding: 0;
 }

* {
    box-sizing: border-box;
}

body{
    background-image: url(Images/abstract-orange-gradient-vertical-background_7954-20814.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

h1, h2{
    color:rgb(255, 255, 255);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;

}

h3, h4{
    color: rgb(255, 255, 255);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.heading-bg8{
    background-color: rgb(249, 117, 30);

    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.heading-bg8 > h2{
    font-size: 70px;
}

.heading-bg8 > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.bg8{
    background-color: rgb(254, 254, 254);

    padding-top: 20px;
    background-image: url(Images/fast-food-A4-removebg-preview.png);
}


.hdbg8{
    background-color: rgb(249, 117, 30);
    padding: 25px;

    font-size: 60px;

}

/*first burger row*/
.display-flex11 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex11 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#burger1{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 75px;
    left: 20px;

}

#burger1 > img{
    position: relative;
    left: 0px;
}

#burger2{
    background: #fbff00;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    top:20px;
    left: 10px;
}

#burger2 > img {
    position: relative;
    left: 0px;
}

#burger2 > h3{
    color: black;
}

#burger3{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 100px;
    left: 10px;

}

#burger3 > img{
    position: relative;
    left: 50px;
}

#burger4{
        background: #fbff00;
        font-size: 18px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        position: relative;
        left: 10px;
        top: 30px;
    }
    
    #burger4 > img {
    position: relative;
    right: 0px;
    }

    #burger4 > h3{
        color: black;
    }
    
#burger5{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 10px;
    left: 20px;

}

#burger5 > img{
    position: relative;
    left: 0px;
    transform: rotate(5deg);
}

#burger6{
    background: #fbff00;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    left: 10px;
    top:30px;

    margin-right: 30px;
}

#burger6 > img {
position: relative;
right: 0px;
}

#burger6 > h3{
    color: black;
}


/*Pizza Menu*/

.display-flex22 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex22 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#marg-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    top:50px;
    left: 10px;
}

#marg-pizza > img {
    position: relative;
    left: 0px;
}

#marg-pizza > p {
    color: rgb(255, 255, 255);
}

#marg-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#marg-pizza ul h4 {
    color: #ffffff;
}



#mush-pizza {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    left: 10px;
    top:30px;

    margin-right: 30px;
}

#mush-pizza > img {
position: relative;
right: 0px;
}

#mush-pizza > h3{
    color: rgb(5, 5, 5);
}
 
#mush-pizza > ul {
    list-style: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mush-pizza ul , h4 {
    color: #000000;
}


#beeef-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    top: 60px;
    left: 10px;
}

#beeef-pizza > img {
    position: relative;
    left: 0px;
}

#beeef-pizza > p {
    color: rgb(255, 255, 255);
}

#beeef-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#beeef-pizza ul h4{
    color: #ffffff;
}


#pepp-pizza {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    left: 10px;
    top: 100px;

    margin-right: 30px;
}

#pepp-pizza > img {
position: relative;
right: 0px;
}

#pepp-pizza > h3{
    color: rgb(5, 5, 5);
}
 
#pepp-pizza > ul {
    list-style: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pepp-pizza ul , h4{
    color: #000000;
}


#veg-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    top: 60px;
    left: 10px;
}

#veg-pizza > img {
    position: relative;
    left: 0px;
}

#veg-pizza > p {
    color: rgb(255, 255, 255);
}

#veg-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#veg-pizza ul h4{
    color: #ffffff;
}

#pizza-rolls {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    left: 10px;
    top: 60px;

    margin-right: 30px;
}

#pizza-rolls > img {
position: relative;
right: 0px;
}

#pizza-rolls > h3{
    color: rgb(5, 5, 5);
}
 
#pizza-rolls > ul {
    list-style: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pizza-rolls ul , h4{
    color: #000000;
}


/*Drinks Menu*/

.display-flex33 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex33 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#fruit-juices li{
    text-align: left;
   
   position: relative;
   left: 90px;
}


#fruit-juices{
    background: #ffee00;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 50px;
    left: 20px;

}

#fruit-juices > img{
    position: relative;
    left: 0px;
}

#mocktails{
    background: #de2417;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    top:20px;
    left: 10px;
}

#mocktails > img {
    position: relative;
    left: 0px;
}

#burger2 > h3{
    color: black;
}

#burger3{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 100px;
    left: 10px;

}

#burger3 > img{
    position: relative;
    left: 50px;
}

#burger4{
        background: #fbff00;
        font-size: 18px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        
        position: relative;
        left: 10px;
        top: 30px;
    }
    
    #burger4 > img {
    position: relative;
    right: 0px;
    }

    #burger4 > h3{
        color: black;
    }
    
#burger5{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    position: relative;
    top: 10px;
    left: 20px;

}

#burger5 > img{
    position: relative;
    left: 0px;
    transform: rotate(5deg);
}

#burger6{
    background: #fbff00;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    position: relative;
    left: 10px;
    top:30px;

    margin-right: 30px;
}

#burger6 > img {
position: relative;
right: 0px;
}

#burger6 > h3{
    color: black;
}













/*beef burger popup
.hover-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hover-container img {
    width: 300px;  Set a fixed width for each image 
    height: auto;  Maintain the image's aspect ratio 
    margin: 0; Remove any default margin 
}

.popup-message {
        display: none; /* Hide the popup by default 
        width: 250px;
        background-color: #ef8e3e;
        color: rgb(56, 23, 1);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        top: 10%; /* Position the pop-up below the element 
        left: 50%; /* Center the pop-up 
        transform: translateX(-50%);
}
    /*display: hidden;
    width: 250px;
    height: 250px;
    background-color: #ef8e3e;
    color: rgb(56, 23, 1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 2%; /* Position the pop-up above the element 
    left: 120%;
    margin-left: -100px; /* Center the pop-up 
    opacity: 0;
    transition: opacity 0.3s;


.hover-container:hover .popup-message {
    visibility: visible;
    opacity: 1;
}

/*breakfast burger*/
.hover-container1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-message1 {
    visibility: hidden;
    width: 250px;
    background-color: #ffef40;
    color: rgb(56, 23, 1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 20%; /* Position the pop-up above the element */
    left: 120%;
    margin-left: -100px; /* Center the pop-up */
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-container1:hover .popup-message1 {
    visibility: visible;
    opacity: 1;
}

/*Double beef burger*/
.hover-container2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.popup-message2 {
    visibility: hidden;
    width: 250px;
    background-color:#ef8e3e ;
    color: rgb(56, 23, 1);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%; /* Position the pop-up above the element */
    left: 50%;
    margin-left: 50px; /* Center the pop-up */
    opacity: 0;
    transition: opacity 0.3s;
}

.hover-container2:hover .popup-message2 {
    visibility: visible;
    opacity: 1;
}

/*second burger row
.display-flex2{
    display: flex;
}

.display-flex2 > div{
    width: 30%;
    margin: 20px;

    margin-top: 50px;
    margin-bottom: -130px;
}
*/