* {
    margin: 0;
    padding: 0;
 }

* {
    box-sizing: border-box;
}

body{
    background-image: url(Images/abstract-orange-gradient-vertical-background_7954-20814.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    overflow-x: hidden;
}

h1, h2{
    color:rgb(255, 255, 255);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;

}

h3, h4{
    color: rgb(255, 255, 255);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
}

.heading-bg8{
    background-color: rgb(249, 117, 30);

    padding: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.heading-bg8 > h2{
    font-size: 70px;
}

.heading-bg8 > p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.bg8{
    background-color: rgb(254, 254, 254);

    padding-top: 20px;
    background-image: url(Images/fast-food-A4-removebg-preview.png);
}


.hdbg8{
    background-color: rgb(249, 117, 30);
    padding: 25px;

    font-size: 60px;

}

/*BURGER MENU*/
.display-flex11 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex11 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#burger1{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 75px;
    left: 20px;

}

#burger1 > img{
    position: relative;
    left: 0px;
}

#burger2{
    background: #fbff00;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;

    position: relative;
    top:20px;
    left: 10px;
}

#burger2 > img {
    position: relative;
    left: 0px;
}

#burger2 > h3{
    color: black;
}

#burger3{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 100px;
    left: 10px;

}

#burger3 > img{
    position: relative;
    left: 50px;
}

#burger4{
        background: #fbff00;
        font-size: 18px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 8px;
        font-family:  'Roboto', sans-serif;
        
        position: relative;
        left: 10px;
        top: 30px;
    }
    
    #burger4 > img {
    position: relative;
    right: 0px;
    }

    #burger4 > h3{
        color: black;
    }
    
#burger5{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 10px;
    left: 20px;

}

#burger5 > img{
    position: relative;
    left: 0px;
    transform: rotate(5deg);
}

#burger6{
    background: #fbff00;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top:30px;

    margin-right: 30px;
}

#burger6 > img {
position: relative;
right: 0px;
}

#burger6 > h3{
    color: black;
}


/*Pizza Menu*/

.display-flex22 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex22 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#marg-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    top:50px;
    left: 10px;
}

#marg-pizza > img {
    position: relative;
    left: 0px;
}

#marg-pizza > p {
    color: rgb(255, 255, 255);
}

#marg-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#marg-pizza ul h4 {
    color: #ffffff;
}



#mush-pizza {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top:30px;

    margin-right: 30px;
}

#mush-pizza > img {
position: relative;
right: 0px;
}

#mush-pizza > h3{
    color: rgb(5, 5, 5);
}
 
#mush-pizza > ul {
    list-style: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mush-pizza ul , h4 {
    color: #000000;
}


#beeef-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    top: 60px;
    left: 10px;
}

#beeef-pizza > img {
    position: relative;
    left: 0px;
}

#beeef-pizza > p {
    color: rgb(255, 255, 255);
}

#beeef-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#beeef-pizza ul h4{
    color: #ffffff;
}


#pepp-pizza {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 100px;

    margin-right: 30px;
}

#pepp-pizza > img {
position: relative;
right: 0px;
}

#pepp-pizza > h3{
    color: rgb(5, 5, 5);
}
 
#pepp-pizza > ul {
    list-style: none;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#pepp-pizza ul , h4{
    color: #000000;
}


#veg-pizza{
    background: #d74e20;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    
    position: relative;
    top: 60px;
    left: 10px;
}

#veg-pizza > img {
    position: relative;
    left: 0px;
}

#veg-pizza > p {
    color: rgb(255, 255, 255);
}

#veg-pizza > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#veg-pizza ul h4{
    color: #ffffff;
}

#pizza-rolls {
    background: #ffd500;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 60px;

    margin-right: 30px;
}

#pizza-rolls > img {
position: relative;
right: 0px;
}

#pizza-rolls > h3{
    color: rgb(5, 5, 5);
}
 
#pizza-rolls > ul {
    list-style: none;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#pizza-rolls ul , h4{
    color: #000000;
}

/*SIDE KICKS*/
.display-flex55 {
    display: flex; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    gap: 30px; 
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex55 > div img {
    
    height: auto;  
    margin: 0; 
    
    
}

#tacoss{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 45px;
    left: 20px;

}

#tacoss > img{
    position: relative;
    left: 0px;
}


#hotdogz{
    background: #a9012b;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;

    position: relative;
    top:20px;
    left: 10px;
}

#hotdogz > img {
    position: relative;
    left: 0px;
}

#hotdogz > h3{
    color: rgb(255, 255, 255);
}

#hotdogz > p{
    color: #ffffff;
}

#wrapchic{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 100px;
    left: 10px;

}

#wrapchic > img{
    position: relative;
    left: 0px;
}


#cheesefryzz{
        background: #a9012b;
        font-size: 18px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 8px;
        font-family:  'Roboto', sans-serif;
        
        position: relative;
        left: 10px;
        top: 30px;
    }
    
    #cheesefryzz > img {
    position: relative;
    right: 0px;
    }

    #cheesefryzz > h3{
        color: rgb(254, 254, 254);
    }
    
    #cheesefryzz > p{
        color: #ffffff;
    }

#nachozz{
    background: #ef8e3e;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    

    position: relative;
    top: 10px;
    left: 20px;

}

#nachozz > img{
    position: relative;
    left: 0px;
    transform: rotate(5deg);
}


#mozstick{
    background: #a9012b;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 13px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top:13px;

    margin-right: 30px;
}

#mozstick > img {
position: relative;
right: 0px;
}

#mozstick > h3{
    color: rgb(255, 255, 255);
}

#mozstick > p{
    color: #ffffff;
}


/*Drinks Menu*/

.display-flex33 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 35px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex33 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#fruit-juices li{
    text-align: left;
   
   position: relative;
   left: 90px;
}


#fruit-juices{
    background: #ff8800  ;
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    

    position: relative;
    top: 120px;
    left: 20px;

}

#fruit-juices > img{
    position: relative;
    right: 10px;
}

#fruit-juices h3{
    color: #000000;
}

#mocktails{
    background: #de2417;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 11px;
    font-family: 'Roboto', sans-serif;
    
    position: relative;
    top: 50px;
    left: 10px;

    color: rgb(255, 255, 255);
}

#mocktails > img {
    position: relative;
    left: 0px;
}

#mocktails > h3{
    color: rgb(255, 255, 255);
}

#mocktails li{
    text-align: left;
    font-size: 20px;
   
   position: relative;
   left: 140px;
}


#colddrinks{
    background: #ff8800;
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    text-align: center;

    position: relative;
    top: 110px;
    left: 10px;

}

/*#colddrinks> img{
    position: relative;
   
}*/

#colddrinks h3{
    color: #000000;
}

#colddrinks li{
    text-align: left;
    font-size: 20px;
   
   position: relative;
   left: 130px;
}


#teacoffee{
    background: #b76522;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    

    position: relative;
    top: 20px;
    left: 20px;

}


#teacoffee > img{
    position: relative;
    left: 0px;
    transform: rotate(5deg);
}


#teacoffee > h3{
    color: rgb(0, 0, 0);
}

#teacoffee li{
text-align: left;
font-size: 20px;
color: #000000;

position: relative;
left: 200px;
}



#milkshakemad{
        background: #ff8800;
        font-size: 18px;
        text-align: center;
        border: 3px solid #f0ebeb55;
        border-radius: 6px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;
        
        position: relative;
        left: 10px;
        top: 80px;
    }
    
    #milkshakemad > img {
    position: relative;
    right: 0px;
    }

    #milkshakemad > h3{
        color: rgb(0, 0, 0);
    }
    
    #milkshakemad > p{
        color: #ffffff;
    }


#milkshakemad li{
    text-align: left;
    font-size: 20px;
   
   position: relative;
   left: 150px;
}


#slushie{
    background: #de2417;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 50px;

    margin-right: 30px;
}

#slushie > img {
position: relative;
right: 0px;
}

#slushie > h3{
    color: rgb(255, 255, 255);
}

#slushie > p{
    color: #ffffff;
}


/*DESSERTS*/

.display-flex44 {
    display: flex; /* Enables flexbox layout */
    overflow-x: auto; /* Adds horizontal scrolling */
    overflow-y: hidden; /* Hides vertical overflow */
    white-space: nowrap; /* Prevents wrapping */
    gap: 30px; /* Adds consistent spacing between elements */
    padding-top: 20px;
    padding-bottom: 10px;
}

.display-flex44 > div img {
    /*width: 300px; Set a fixed width for each image */
    height: auto;  /*Maintain the image's aspect ratio */
    margin: 0; /* Remove any default margin */
    
    
}

#sundaedes{
    background: #a55222;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    top: 45px;
    left: 10px;
}

#sundaedes > img {
    position: relative;
    left: 0px;
}

#sundaedes > p {
    color: rgb(255, 255, 255);
}

#sundaedes > ul {
    list-style: none;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#sundaedes ul h4 {
    color: #ffffff;
}



#oreodes {
    background: #fff700;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 185px;

    margin-right: 30px;
}

#oreodes > img {
position: relative;
bottom: 10px;
right: 10px;
}

#oreodesbowl{
    position: relative;

    top: 8px;
    right: 0px;

}

#oreodes > h3{
    color: rgb(5, 5, 5);
}

#oreodes ul , h4 {
    color: #ffffff;
}


#rolledicecream{
    background: #a55222;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 16px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    top: 120px;
    left: 10px;
}

#rolledicecream > img {
    position: relative;
    left: 0px;
}

#rolledicecream > p {
    color: rgb(255, 255, 255);
}

#rolledicecream h4{
    color: #ffffff;
}



#minidons {
    background: #ba7f5a;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 80px;

    margin-right: 30px;
}

#minidons > img {
position: relative;
right: 0px;
}

#minidons > h3{
    color: rgb(5, 5, 5);
}
 
#minidons > ul {
    list-style: none;
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#minidons ul , h4{
    color: #000000;
}


#icesandwich{
    background: #abff9b;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family: 'Roboto', sans-serif;
    
    position: relative;
    top: 40px;
    left: 10px;
}

#icesandwich > img {
    position: relative;
    left: 0px;
}

#icesandwich > p {
    color: rgb(0, 0, 0);
}

#icesandwich h3{
    color: #000000;
}


#churrosdes {
    background: #a55222;
    font-size: 18px;
    text-align: center;
    border: 3px solid #f0ebeb55;
    border-radius: 6px;
    padding: 8px;
    font-family:  'Roboto', sans-serif;
    
    position: relative;
    left: 10px;
    top: 100px;

    margin-right: 30px;
}

#churrosdes > img {
position: relative;
right: 0px;
}

#churrosdes > h3{
    color: rgb(255, 255, 255);
}

#churrosdes > p {
    color: #ffffff;
}

#churrosdes h4{
    color: #ffffff;
}










