h1, h2{
    color: rgb(235, 30, 30);

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;

    line-height: 20px;
}


.yellow-bg{
    background-color: rgb(249, 249, 30);

    padding: 30px;
}

/*first horicontal menu*/
#nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(253, 83, 31);
}

li{
    float: left;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: brown;
}


/*.burger-everythingimg{
  
}*/